/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
input,
button,
textarea {
  outline: 0;
}
@font-face {
  font-family: "Annie Use Your Telescope";
  src: url('../../../global/css/fonts/AnnieUseYourTelescope.svg#Annie Use Your Telescope') format('svg'), url('../../../global/css/fonts/AnnieUseYourTelescope.woff') format('woff'), url('../../../global/css/fonts/AnnieUseYourTelescope.eot?#iefix') format('embedded-opentype'), url('../../../global/css/fonts/AnnieUseYourTelescope.ttf') format('truetype'), url('../../../global/css/fonts/AnnieUseYourTelescope.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url('../../../global/css/fonts/ProximaNova-Bold.svg#Proxima Nova Bold') format('svg'), url('../../../global/css/fonts/ProximaNova-Bold.woff') format('woff'), url('../../../global/css/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../../../global/css/fonts/ProximaNova-Bold.ttf') format('truetype'), url('../../../global/css/fonts/ProximaNova-Bold.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../../../global/css/fonts/ProximaNova-Regular.svg#Proxima Nova Regular') format('svg'), url('../../../global/css/fonts/ProximaNova-Regular.woff') format('woff'), url('../../../global/css/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../../../global/css/fonts/ProximaNova-Regular.ttf') format('truetype'), url('../../../global/css/fonts/ProximaNova-Regular.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: url('../../../global/css/fonts/ProximaNova-RegItalic.svg#Proxima Nova Rg') format('svg'), url('../../../global/css/fonts/ProximaNova-RegItalic.woff') format('woff'), url('../../../global/css/fonts/ProximaNova-RegItalic.eot?#iefix') format('embedded-opentype'), url('../../../global/css/fonts/ProximaNova-RegItalic.ttf') format('truetype'), url('../../../global/css/fonts/ProximaNova-RegItalic.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url('../../../global/css/fonts/ProximaNova-Light.svg#Proxima Nova Lt') format('svg'), url('../../../global/css/fonts/ProximaNova-Light.woff') format('woff'), url('../../../global/css/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../../../global/css/fonts/ProximaNova-Light.ttf') format('truetype'), url('../../../global/css/fonts/ProximaNova-Light.eot');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Light Italic";
  src: url('../../../global/css/fonts/ProximaNova-LightItalic.svg#Proxima Nova Lt') format('svg'), url('../../../global/css/fonts/ProximaNova-LightItalic.woff') format('woff'), url('../../../global/css/fonts/ProximaNova-LightItalic.eot?#iefix') format('embedded-opentype'), url('../../../global/css/fonts/ProximaNova-LightItalic.ttf') format('truetype'), url('../../../global/css/fonts/ProximaNova-LightItalic.eot');
  font-weight: normal;
  font-style: normal;
}
.replacetext {
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
}
/* SETA VOLTAR AO TOPO */
.st-block {
  opacity: 1 !important;
}
.back-top.st-top {
  bottom: 150px;
}
/* Configuração de grid */
.row {
  width: 100%;
}
.row label {
  margin-bottom: 15px;
  display: block;
  position: relative;
}
.row label span,
.row label small {
  display: block;
  margin-bottom: 8px;
}
.row label input {
  width: 100%;
  padding: 2px 10px;
  border: 0;
  height: 53px;
}
.row *[class^='rw-'] {
  margin-right: 5%;
  float: left;
}
.row *[class^='rw-'] > * {
  width: 100%;
}
.row .rw-large-1 {
  width: 100%;
}
.row .rw-small-2 {
  width: 45%;
}
.row .rw-small-3 {
  width: 28.333333333333332%;
}
.row .rw-small-4 {
  width: 20%;
}
i.spr01 {
  background: url("../../../global/css/images/icons/spr01.png") no-repeat center center;
  display: inline-block;
  width: 100%;
  height: 32px;
}
i.spr02 {
  background: url("../../../global/css/images/icons/spr02.png") no-repeat center center;
  display: inline-block;
  width: 100%;
  height: 38px;
}
i.spr03 {
  background: url("../../../global/css/images/icons/spr03.png") no-repeat center center;
  display: inline-block;
  width: 100%;
  height: 32px;
}
i.spr04 {
  background: url("../../../global/css/images/icons/spr04.png") no-repeat center center;
  display: inline-block;
  width: 100%;
  height: 45px;
}
i.spr05 {
  background: url("../../../global/css/images/icons/spr05.png") no-repeat center center;
  display: inline-block;
  width: 100%;
  height: 63px;
}
/* Definição de botão padrão */
/** Button Large **/
.btn-large {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 71px;
  display: inline-block;
  height: 69px;
  background-color: #ccc;
  color: #444;
  font-size: 15px;
  border: 0px;
  border-bottom: 3px solid #878787;
  cursor: pointer;
  padding: 0 30px;
}
.btn-large:hover {
  background-color: #bababa;
}
.btn-large:active {
  background-color: #bababa;
  border-color: #bababa;
}
/** Button Short **/
.btn-short {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 40px;
  line-height: 37px;
  display: inline-block;
  background-color: #ccc;
  color: #444;
  font-size: 15px;
  border: 0px;
  border-bottom: 3px solid #878787;
  cursor: pointer;
}
.btn-short:hover {
  background-color: #bababa;
}
.btn-short:active {
  background-color: #bababa;
  border-color: #bababa;
}
/** Button Small **/
.btn-small {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 20px 30px 16px 30px;
  display: inline-block;
  background-color: #ccc;
  color: #444;
  font-size: 15px;
  border: 0px;
  border-bottom: 3px solid #878787;
  cursor: pointer;
}
.btn-small:hover {
  background-color: #bababa;
}
.btn-small:active {
  background-color: #bababa;
  border-color: #bababa;
}
/* Cores de botões */
.green {
  background-color: #0a9127;
  border-color: #00800f;
  color: #ffffff;
}
.green:hover {
  background-color: #33b943;
}
.green:active {
  background-color: #33b943;
  border-color: #33b943;
}
.blue {
  background-color: #054dbc;
  border-color: #033277;
  color: #ffffff;
}
.blue:hover {
  background-color: #0259db;
}
.blue:active {
  background-color: #0259db;
  border-color: #0259db;
}
.grey {
  background-color: #7f7f7f;
  border-color: #535252;
  color: #ffffff;
}
.grey:hover {
  background-color: #a3a2a2;
}
.grey:active {
  background-color: #a3a2a2;
  border-color: #a3a2a2;
}
.prussia {
  background-color: #1d2a44;
  border-color: #0d131f;
  color: #ffffff;
}
.prussia:hover {
  background-color: #2a3c62;
}
.prussia:active {
  background-color: #2a3c62;
  border-color: #2a3c62;
}
.mskbody {
  overflow: hidden;
}
.mskmask {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  z-index: 99999;
}
.mskmask .close-mask {
  background: url("../../../global/css/images/close.png") no-repeat center center;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  padding: 0;
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 11px;
  text-align: right;
}
.mskhide {
  display: none;
}
.mskshow {
  display: block;
}
hr {
  clear: both;
  position: relative;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Annie Use Your Telescope";
}
/* LINKS GLOBAL */
a {
  font-family: "Annie Use Your Telescope";
  text-decoration: none;
  color: #0653a5;
}
/* Padronização de paddings entre outros */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* MENSAGEM DE BROWSER */
.browserversion {
  display: none;
  background: url("../../../global/css/images/nuvem.png") repeat-x;
  height: 127px;
}
.browserversion .msgn {
  width: 880px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  padding: 13px 0;
  position: relative;
}
.browserversion .msgn .close {
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../../global/css/images/close.png") no-repeat;
  position: absolute;
  width: 21px;
  height: 26px;
  top: 4px;
  right: -23px;
}
.browserversion .msgn a {
  color: #ffffff;
  font-size: 14px;
}
.browserversion .msgn .link {
  padding-bottom: 9px;
  background: url("../../../global/css/images/cliqueaviso.png") left bottom no-repeat;
}
.browserversion .msgn .link:hover {
  background: url("../../../global/css/images/cliqueaviso-hover.png") left bottom no-repeat;
}
.browserversion .msgn .traco {
  padding-bottom: 5px;
  background: url("../../../global/css/images/olhaso.png") left bottom no-repeat;
}
/* SETA VOLTAR AO TOPO */
.back-top {
  z-index: 9999;
  background: url("../../../global/css/images/back-top.png") no-repeat top center;
  font-size: 13px;
  width: 100px;
  text-align: center;
  height: 50px;
  bottom: 50px;
  opacity: 0;
  position: fixed;
  right: 40px;
  color: #b70a0a;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.back-top:hover {
  background-image: url("../../../global/css/images/back-top-hover.png");
}
.back-top span {
  position: absolute;
  bottom: -20px;
  text-align: center;
  display: block;
  width: 100%;
}
/* ALIGN */
.left {
  float: left;
}
.right {
  float: right;
}
/* MSG ERROR */
.field-validation-error {
  color: #d80338;
  font-size: 14px;
  margin-top: 7px;
  margin-bottom: 0 !important;
}
.field-validation-sucess {
  color: #00800f;
  display: none;
  font-size: 14px;
  margin-bottom: 0;
}
.field-validation-sucess.show {
  display: inline-block;
}
.field-validation-sucess.hide {
  display: none;
}
/* FOOTER */
.footer {
  background: url("../../../global/css/images/bg-footer.png") repeat-x;
  width: 100%;
  height: 112px;
  position: absolute;
}
.footer .center {
  margin: 0 auto;
  position: relative;
  width: 980px;
  top: 42px;
}
.footer .regras {
  padding: 20px 0;
  float: left;
}
.footer .regras li {
  font-family: "Annie Use Your Telescope";
  display: inline;
  color: #ffffff;
}
.footer .regras li:first-child {
  padding: 0 20px 0 0px;
}
.footer .regras li a {
  color: #ffffff;
  font-size: 13px;
  padding: 0 20px;
  text-decoration: none;
}
.footer .regras li a:hover {
  text-decoration: underline;
}
.footer .regras li a.redbull {
  font-size: 16px;
  padding-left: 0;
}
.footer .social {
  float: right;
  padding: 12px 0;
}
.footer .social li {
  display: inline;
  padding: 0 8px;
}
.footer .social li a {
  display: inline-block;
  text-decoration: none;
}
.footer .social li a:hover {
  position: relative;
  top: -3px;
}
.dhide {
  display: none;
}
/*======================================================================
  Selectric
======================================================================*/
.selectricWrapper {
  position: relative;
  margin: 0 0 10px;
  width: 280px !important;
  cursor: pointer;
}
.selectricResponsive {
  width: 100%;
}
.selectric {
  background: url("../images/box-filter.png") no-repeat right center;
  -webkit-background-size: 106%;
  -moz-background-size: 106%;
  -o-background-size: 106%;
  background-size: 106%;
  position: relative;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 45px;
  padding-left: 13px;
  width: 280px !important;
  float: right;
}
.selectric:hover .button {
  opacity: 0.8;
}
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 30px 0 0;
  padding: 6px;
  font-size: 14px;
  line-height: 31px;
  color: #757575;
  min-height: 40px;
}
.selectric .button {
  background: url("../images/box-filter-arrow.png") no-repeat center left;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 44px;
  text-align: center;
}
.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
}
.selectricHover .selectric .button {
  color: #888;
}
.selectricOpen {
  z-index: 9999;
}
.selectricOpen .selectric {
  z-index: 9999;
}
.selectricOpen .selectricItems {
  display: block;
}
.selectricDisabled {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectricHideSelect select {
  position: absolute;
  left: -100%;
  display: none;
}
.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  *font: NaN a !important;
}
.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}
/* Items box */
.selectricItems {
  display: none;
  overflow: auto;
  position: absolute;
  right: 4px;
  top: 100%;
  background-color: #ffffff;
  width: 272px !important;
  z-index: 9998;
}
.selectricItems ul,
.selectricItems li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  min-height: 20px;
}
.selectricItems li {
  display: block;
  padding: 5px 5px 5px 15px;
  color: #666;
  cursor: pointer;
  border-bottom: 1px solid #CCC;
}
.selectricItems li:last-child {
  border-bottom: 0;
}
.selectricItems li:hover {
  background-color: #f1f1f1;
}
.selectricItems li.selected {
  color: #444;
}
.selectricItems li:hover {
  color: #444;
}
.selectricItems li.disabled {
  color: #BBB;
  cursor: default;
}
/* Estilo do box da modal */
.mskmask .mskbox {
  background: url("../../css/images/bg-mask.png") no-repeat center;
  -webkit-background-size: 95%;
  -moz-background-size: 95%;
  -o-background-size: 95%;
  background-size: 95%;
  z-index: 99999;
  min-width: 980px;
  max-width: 900px;
  height: 580px;
  margin: 5% auto;
  position: relative;
  text-align: center;
}
/* Estilo do link de fechar da modal */
.mskmask .close-mask {
  background: url("../images/close.png") no-repeat center center !important;
  text-decoration: none;
  position: absolute;
  top: -40px;
  right: 80px;
  width: 27px;
  height: 31px;
  color: #999999;
  z-index: 99999;
}
.mskmask .close-mask:hover {
  opacity: 0.8;
}
body {
  background: url("../../../global/css/images/bg-body.jpg");
}
body > * {
  font-weight: normal !important;
}
.body {
  background: url("../images/bg-gallery.png") repeat-y top center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.center {
  width: 980px;
  margin: 0 auto 70px auto;
}
.menu {
  display: table;
  width: 750px;
  margin: 50px auto 60px auto;
}
.menu li {
  display: table-cell;
  text-align: center;
}
.menu li a {
  color: #000000;
  padding: 20px 45px;
}
.menu li a:hover {
  background: url("../images/menu/mn1.png") no-repeat center center;
  color: #ffffff;
}
.menu li a.mn2:hover {
  background: url("../images/menu/mn2.png") no-repeat center center;
  color: #ffffff;
}
.logo {
  background: url("../images/logo.png") no-repeat;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  width: 845px;
  height: 569px;
  margin: 0 auto 80px auto;
}
.subtitle {
  font-family: "Annie Use Your Telescope";
  text-align: center;
  margin-bottom: 70px;
}
.subtitle h1 {
  font-size: 42px;
  color: #000000;
  line-height: 90px;
}
.subtitle h3 {
  font-size: 24px;
  color: #000000;
  line-height: 29px;
}
.filter {
  background: url("../images/line.png") no-repeat top center;
  padding-top: 40px;
  margin-bottom: 60px;
}
.filter .rw-small-2 {
  width: 47%;
}
.filter .rw-small-2.last {
  margin-right: 0 !important;
}
.filter .inp-search-gallery {
  font-family: "Annie Use Your Telescope";
  font-size: 14px;
  background: url("../images/inp-search.png") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  float: left;
  height: 49px;
  padding-left: 15px;
  padding-right: 80px;
  padding-top: 3px;
  color: #000000;
  font-weight: normal;
}
.filter .sub-button-search {
  position: absolute;
  top: 2px;
  right: 11px;
  cursor: pointer;
  background: none;
  border: 0;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  width: 61px;
  height: 40px;
}

.filter .sub-button-search:hover{
  opacity: 0.3;
  background: #FFF;
}

.filter .filter-select {
  float: right;
}
.line-box {
  background: url("../images/line-box.png") no-repeat;
  display: block;
  height: 33px;
}
.box-doodle ul {
  clear: both;
  margin-bottom: 60px;
}
.box-doodle ul li {
  background: url("../images/box-doodle.png") no-repeat;
  position: relative;
  float: left;
  width: 319px;
  height: 390px;
  margin-bottom: 40px;
  margin-right: 6px;
}
.box-doodle ul li.even {
  top: 0;
}
.box-doodle ul li.odd {
  top: 20px;
}
.box-doodle ul li:hover .zoom {
  display: block;
}
.box-doodle ul li .box-item {
  z-index: 9;
  position: relative;
  text-align: center;
}
.box-doodle ul li .box-item > img {
  margin-top: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 234px;
}
.box-doodle ul li .box-item .line-gallery {
  background: url("../images/line-gallery.png") no-repeat 20px center;
  width: 100%;
  height: 9px;
  display: block;
  margin-bottom: 6px;
}
.box-doodle ul li .box-item .name {
  width: 280px;
  height: 27px;
  overflow: hidden;
  line-height: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}
.box-doodle ul li .box-item .info-doodle {
  padding: 0 20px;
  font-size: 20px;
}

.box-doodle ul li .box-item .info-doodle .info-uni {
    height: 22px;
    line-height: 25px;
    overflow: hidden;
    text-align: left;
    width: 130px;
}

.box-doodle ul li .box-item .info-doodle .voto {
  background: url("../images/hearth-gallery.png") no-repeat;
  padding-left: 35px;
  line-height: 25px;
  float: right;
}
.box-doodle ul li .zoom {
  background: url("../images/box-doodle-hover.png") no-repeat;
  display: none;
  width: 319px;
  height: 390px;
  top: 0;
  z-index: 9999;
  position: absolute;
}
.box-doodle ul li .zoom .zoom-doodle {
  display: block;
  position: relative;
  text-align: center;
  height: 255px;
}
.box-doodle ul li .zoom .zoom-doodle:hover > img{
  opacity: 0.7;
}
.box-doodle ul li .zoom .zoom-doodle > img {
  margin-top: 52px;
}
.box-doodle ul li .zoom .share {
  bottom: 40px;
  display: table;
  margin: 0 5%;
  position: absolute;
  width: 90%;
}
.box-doodle ul li .zoom .share > a {
  display: table-cell;
  text-align: center;
  position: relative;
}
.box-doodle ul li .zoom .share > a:hover {
  opacity: 0.8;
}
.box-doodle ul li .zoom .share > a.meio {
  padding: 0px 0px 0px 7px;
}
.box-doodle ul li .zoom .share > a > img {
  margin-bottom: 10px;
}
.box-doodle ul li .zoom .share > a > span {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
.box-doodle .loading {
  background: url("../images/loading.gif") no-repeat top center;
  clear: both;
  display: block;
  height: 168px;
  position: relative;
  text-align: center;
  width: 100%;
  top: 20px;
}
.box-doodle .loading > span {
  bottom: 0;
  display: block;
  position: absolute;
  width: 100%;
}
.orelha-image {
  background: url("../images/orelha.png") no-repeat;
  display: block;
  height: 90px;
  left: 2px;
  position: absolute;
  top: -2px;
  width: 73px;
  z-index: 99;
}
.back-top {
  display: none;
}
/* Conteúdo modal */
.doodle-art {
  height: 572px;
  padding: 70px 0 69px;
}
.doodle-art .doodle-left {
  margin-left: 90px;
  overflow: hidden;
  position: relative;
  width: 475px;
  height: 495px;
  top: -27px;
}
.doodle-art .doodle-left .prev {
  background: url("../images/arrow-left.png") no-repeat center center;
  display: block;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 36px;
  height: 72px;
  left: 15px;
  top: 40%;
}
.doodle-art .doodle-left .prev:hover {
  opacity: 0.7;
}
.doodle-art .doodle-left .next {
  background: url("../images/arrow-right.png") no-repeat center center;
  display: block;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 36px;
  height: 72px;
  right: 15px;
  top: 40%;
}
.doodle-art .doodle-left .next:hover {
  opacity: 0.7;
}
.doodle-art .doodle-right {
  position: relative;
  right: 47px;
  top: -72px;
  z-index: 999;
}
.doodle-art .doodle-right .aluno-info {
  background: url("../images/box-aluno.png") no-repeat;
  text-align: left;
  width: 373px;
  height: 223px;
  margin-bottom: 12px;
  padding: 67px 45px 20px 37px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.doodle-art .doodle-right .aluno-info h1 {
  font-size: 18px;
  margin-bottom: 11px;
}
.doodle-art .doodle-right .aluno-info h4 {
  font-size: 15px;
}
.doodle-art .doodle-right .aluno-info h3 {
  background: url("../images/hearth-red.png") no-repeat;
  padding-left: 33px;
  line-height: 27px;
  margin-top: -3px;
  margin-bottom: 5px;
}
.doodle-art .doodle-right .aluno-info .line {
  background: url("../images/line-black.png") no-repeat;
  height: 5px;
  display: block;
  margin-bottom: 11px;
}
.doodle-art .doodle-right .aluno-info .share {
  display: table;
  width: 107%;
  text-align: center;
}
.doodle-art .doodle-right .aluno-info .share > a {
  display: table-cell;
  color: #000000;
  font-size: 14px;
}
.doodle-art .doodle-right .aluno-info .share > a:hover {
  opacity: 0.8;
}
.doodle-art .doodle-right .aluno-info .share > a > span {
  display: block;
  margin-top: 4px;
}
.doodle-art .doodle-right .fb-comments {
  margin-right: 14px;
  z-index: 999;
  position: relative;
  height: 290px;
  right: -22px;
  overflow-x: hidden;
  overflow-y: auto;
}
.doodle-left.left > img {
  min-height: 484px;
  max-height: 484px;
}
.tracos {
  background: url("../images/tracos.png") no-repeat;
  position: absolute;
  top: 56px;
  left: 80px;
  width: 25px;
  height: 40px;
  z-index: 999;
}
.ponto {
  background: url("../images/ponto.png") no-repeat center 0;
  position: absolute;
  top: 1px;
  z-index: 99;
  display: block;
  width: 100%;
  height: 66px;
}
.modal-count {
  background: url("../images/tracejado.png") no-repeat center bottom;
  font-size: 18px;
  color: #ffffff;
  margin-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.voting {
  background: url("../images/bg-hearth.png") no-repeat center 87px;
  padding: 57px 0;
  height: 590px;
  -webkit-background-size: 76%;
  -moz-background-size: 76%;
  -o-background-size: 76%;
  background-size: 76%;
}
.voting .ponto {
  top: 0px;
}
.voting .tracos {
  left: 90px;
  top: 34px;
}
.voting .center-align {
  padding: 0 152px;
}
.voting .title-voting {
  font-size: 41px;
  color: #000000;
  position: relative;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.voting .text-voting {
  background: url("../images/exclamation.png") no-repeat left top;
  font-size: 15px;
  padding-left: 82px;
  padding-top: 13px;
  line-height: 25px;
  font-weight: normal;
  height: 70px;
  text-align: left;
  width: 443px;
  margin: 0 auto 20px;
}
.voting .text-voting span {
  margin-top: 10px;
}
.voting .text-voting a {
  color: #000000;
  text-decoration: underline;
}
.voting .text-voting a:hover {
  text-decoration: none;
}
.voting .hearth-large {
  background: url("../images/hearth.png") no-repeat;
  display: block;
  width: 47px;
  height: 43px;
  -webkit-transform: rotate(-28deg);
  -moz-transform: rotate(-28deg);
  -ms-transform: rotate(-28deg);
  -o-transform: rotate(-28deg);
  position: absolute;
  top: -37px;
  left: 271px;
}
.voting .hearth-small {
  background: url("../images/hearth-red.png") no-repeat;
  display: block;
  width: 27px;
  height: 25px;
  -webkit-transform: rotate(28deg);
  -moz-transform: rotate(28deg);
  -ms-transform: rotate(28deg);
  -o-transform: rotate(28deg);
  position: absolute;
  right: 288px;
  top: -5px;
}
.voting .img-voting {
  text-align: left;
}
.voting .img-voting > img {
  width: 275px;
}
.voting .img-voting h1 {
  font-size: 17px;
  line-height: 35px;
  padding-left: 11px;
}
.voting .img-voting h2 {
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 11px;
}
.voting .mail-voting {
  font-family: "Annie Use Your Telescope";
  width: 325px;
  text-align: left;
  margin-top: -8px;
}
.voting .mail-voting .rw-large-1.error span {
  color: #d80338;
}
.voting .mail-voting .rw-large-1.error .input-voto {
  background-image: url("../images/input-login-erro.png");
}
.voting .mail-voting .rw-large-1.middle {
  margin-bottom: 0;
}
.voting .mail-voting .input-voto {
  background: url("../images/input-login.png") no-repeat;
  height: 42px;
  font-family: "Annie Use Your Telescope";
  font-size: 15px;
}
.voting .mail-voting .submit-votar {
  font-family: "Annie Use Your Telescope";
  background: url("../images/btn-voting.png") no-repeat center;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  -o-background-size: 80%;
  background-size: 80%;
  font-size: 15px;
  cursor: pointer;
  width: 348px;
  height: 83px;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
}
.voting .mail-voting .submit-votar > span {
  margin-top: 8px;
  padding-left: 36px;
}
.voting .mail-voting .submit-votar:hover {
  opacity: 0.8;
}
.sucess-voting {
  background: url("../images/bg-hearth.png") no-repeat center 87px;
  padding: 57px 0;
  height: 590px;
  -webkit-background-size: 76%;
  -moz-background-size: 76%;
  -o-background-size: 76%;
  background-size: 76%;
}
.sucess-voting .ponto {
  top: 0px;
}
.sucess-voting .tracos {
  left: 90px;
  top: 34px;
}
.sucess-voting .icos {
  background: url("../images/check.png") no-repeat center;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 193px;
  display: block;
}
.sucess-voting h1 {
  font-size: 41px;
  text-align: center;
  line-height: 80px;
}
.sucess-voting h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.sucess-voting .btn-share {
  background: url("../images/btn-share.png") no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 590px;
  height: 93px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.sucess-voting .btn-share:hover {
  opacity: 0.8;
}
.sucess-voting .btn-share > span {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 96px;
  padding-left: 20px;
}
.sucess-voting .addthis-share {
  background: url("../images/box-share.png") no-repeat;
  margin: 0 auto;
  padding: 25px 17px 16px;
  position: relative;
  width: 178px;
  display: none;
  opacity: 0;
  top: -10px;
}
.sucess-voting .addthis-share:hover {
  opacity: 1;
  display: block;
}
.voted {
  background: url("../images/bg-hearth.png") no-repeat center 87px;
  padding: 57px 0;
  height: 590px;
  -webkit-background-size: 76%;
  -moz-background-size: 76%;
  -o-background-size: 76%;
  background-size: 76%;
}
.voted .ponto {
  top: 14px;
}
.voted .tracos {
  left: 90px;
  top: 34px;
}
.voted h4 {
  background: url("../images/oops.png") no-repeat center center;
  height: 136px;
  margin: 60px 0;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.voted h1 {
  font-size: 48px;
  margin-bottom: 35px;
  text-align: center;
}
.voted h2 {
  font-size: 24px;
  text-align: center;
}
.opendoodle {
  background: none;
}
.load {
  overflow: hidden;
  height: 860px;
}
.footer {
  display: none;
}
.not-found {
  position: relative;
  clear: both;
  top: -12px;
}
.not-found h1 {
  background: url("../images/not-found.png") no-repeat center center;
  width: 100%;
  height: 266px;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 80px;
}
.not-found h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 120px;
}
.not-found h3 {
  text-align: center;
}
.not-found h3 a {
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
  background: url("../images/borda-link.png") no-repeat center bottom;
  padding-bottom: 5px;
}
.not-found h3 a:hover {
  opacity: 0.8;
}
.openvoted {
  background: none;
}
.opensucess {
  background: none;
}
.body.bd-win .logo {
  width: 295px;
  height: 200px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  margin-bottom: 0;
}
.body.bd-win .subtitle {
  display: none;
}
.body.bd-win .winners h1 {
  background: url("../images/trofeu.png") no-repeat center center;
  width: 100%;
  height: 240px;
  -webkit-background-size: 18%;
  -moz-background-size: 18%;
  -o-background-size: 18%;
  background-size: 18%;
  text-indent: 160%;
  white-space: nowrap;
  overflow: hidden;
}
.body.bd-win .winners h2 {
  text-transform: uppercase;
  font-size: 55px;
  color: #000000;
  text-align: center;
  margin-bottom: 15px;
}
.body.bd-win .winners h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}
.body.bd-win .winners .line-dupla {
  background: url("../images/line-dupla.png") no-repeat center center;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  -o-background-size: 80%;
  background-size: 80%;
  width: 100%;
  height: 15px;
  display: block;
  margin-bottom: 50px;
}
.body.bd-win .winners .line-tripla {
  background: url("../images/line-tripla.png") no-repeat center center;
  -webkit-background-size: 80%;
  -moz-background-size: 80%;
  -o-background-size: 80%;
  background-size: 80%;
  width: 100%;
  height: 32px;
  display: block;
}
.body.bd-win .winners .box-table {
  display: table;
  margin-bottom: 70px;
  width: 100%;
}
.body.bd-win .winners .box-table .box-item {
  display: table-cell;
}
.body.bd-win .winners .item {
  background: url("../images/box-doodle.png") no-repeat;
  width: 319px;
  height: 384px;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 53px 26px;
}
.body.bd-win .winners h4 {
  color: #236eb6;
  font-size: 18px;
  margin: 0 auto 20px;
  width: 320px;
  text-align: center;
  line-height: 28px;
}
.body.bd-win .winners .img-win {
  width: 267px;
}
.body.bd-win .winners h5 {
  color: #000000;
  font-size: 18px;
  text-align: center;
  width: 320px;
  margin: 20px auto 0;
}
.body.bd-win .winners .a-btn {
  background: url("../images/menu/mn2.png") no-repeat center center;
  display: block;
  height: 69px;
  text-align: center;
  padding: 29px 0 0 0;
  color: #ffffff;
  width: 211px;
  margin: 60px auto;
}
.body.bd-win .winners .a-btn:hover {
  opacity: 0.8;
}
/* Captcha voting */
.error .captcha {
  background-image: url("../images/captcha-error.png");
}
.captcha {
  background: url("../images/captcha.png") no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  display: block;
  height: 139px;
  left: -5px;
  position: absolute;
  width: 336px !important;
}
.captcha-box {
  position: relative;
  z-index: 999;
  min-height: 141px;
}
.captcha-box .field-validation-error {
  margin-top: 13px;
}
#recaptcha_response_field {
  margin: 0 !important;
  height: 30px !important;
}
#recaptcha_privacy {
  display: none;
}
#recaptcha_widget_div {
  left: 6px;
  position: relative;
  top: 5px;
}
.btn-compart {
  position: relative;
}
.addthis {
  background: url("../images/box-share.png") no-repeat;
  padding: 25px 17px 16px;
  display: none;
  position: absolute;
  width: 180px;
  z-index: 9999;
  left: 100px;
  bottom: 252px;
}
.addthis.listagem {
  bottom: -76px;
  left: 50px;
}

.zoomWindow{
    left: 467px !important;
    z-index: 99999 !important;
}

.zoomContainer{
    z-index: 9999;
}

.zoomWindow{
	top: 187px !important;
	left: 494px !important;
	height: 283px !important;
}

.doodle-art .doodle-left .prev{
	z-index: 99999;
}

.doodle-art .doodle-left .next{
	z-index: 99999;
}

.zoomLens{
  height: 160px !important;
}